# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Bartosz Bonisławski
	email = b.bonislawski@hotmail.com
[alias]
	co = checkout
	purr = pull --rebase
	ci = commit -m
	cob = checkout
	amend = commit
	st = status
	df = diff
	rb = branch -a
	gup = push --set-upstream origin
